<section class="main-container">
  <section class="content-element">
    <article>
      <h1>Quam Trisique Condminetum</h1>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        <a href="#">Curabitur blandit</a> tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
    </article>
    <article class="image-and-text">
      <section class="fringilla-text">
        <h2>Fringilla Euismod Adipiscing Ipsum</h2>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed.</p>
        <section class="outer-list">
          <app-list-item [listLevel]=1 content="Tellus Ullamcorper Inceptos"></app-list-item>
          <app-list-item [listLevel]=1 content="Magna Condimentum"></app-list-item>
          <app-sublist></app-sublist>
          <app-list-item [listLevel]=1 content="Aenean Inceptos"></app-list-item>
          <app-list-item [listLevel]=1 content="Parturient Bibendum"></app-list-item>
        </section>
      </section>
      <figure class="image-container">
        <img class="image" src="assets/board-and-books.png" alt="board and books"/>
      </figure>
    </article>
  </section>

  <article class="widget-container">
    <app-compensation-calculator></app-compensation-calculator>
  </article>
</section>
